/* Style for the modal box */
.modal-box {
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Style for the modal header */
.modal-header {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

/* Style for the TextField components */
.text-field {
  margin-bottom: 20px;
}

/* Style for the Submit button */
.submit-button {
  display: block;
  margin: 20px auto 0;
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #1565c0;
}

/* Style for the Add Student button */
.add-student-button {
  margin-bottom: 20px;
  background-color: #1976d2;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-student-button:hover {
  background-color: #1565c0;
}

/* Style for the table */
.table-container {
  margin-top: 20px;
}

.table-cell {
  font-size: 14px;
}

.icon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: #d6d6d6;
}
