.side {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #292828;
  overflow-x: hidden;
  padding-top: 350px;
  transition: width 0.3s;
}

.side p {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: large;
  font-weight: 500;
  margin-left: 15px;
  justify-content: left;
  padding: 10px;
}

.side p:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .side {
    width: 200px;
    padding-top: 200px;
  }

  .side p {
    font-size: medium;
  }
}

@media screen and (max-width: 480px) {
  .side {
    width: 150px;
    padding-top: 150px;
  }

  .side p {
    font-size: small;
  }
}
